<?xml version="1.0" encoding="UTF-8"?>
<model xmlns="http://dbfound.googlecode.com/model" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://dbfound.googlecode.com/model https://raw.githubusercontent.com/nfwork/dbfound/master/tags/model.xsd">
	<query>
		<param name="role_id" dataType="number" scope="session" />
		<sql>
		 <![CDATA[
				select * from (
 					 SELECT f.function_id id,
							concat('M',f.function_module) pid,
							f.jsp_pager url,
							f.function_des TEXT, 
							f.priority
						  FROM SYS_FUNCTION f,sys_power p 
						 WHERE f.function_id = p.function_id 
						   AND p.role_id =${@role_id}
						   AND p.enable_flag='Y' 
						   #AND_CLAUSE#
				     UNION ALL
				       SELECT
						  concat('M',m.module_id) id,
						  NULL             pid,
						  NULL             url,
						  m.module_name    TEXT,
						  m.priority
						FROM sys_module m
						WHERE EXISTS(SELECT 1
						             FROM SYS_FUNCTION f,
						               sys_power p
						             WHERE f.function_id = p.function_id
						                 AND p.role_id = ${@role_id}
						                 AND p.enable_flag = 'Y'
						                 AND m.module_id = f.function_module)
				) v order by pid desc ,v.priority
		 ]]>
		</sql>
		<filter name="function_des" express="function_des like ${@function_des}"/>
	</query>
	
</model>